<html>
<head>
    <title>Margish Kotadiya</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://use.fontawesome.com/e5b7e5d672.js"></script>
    <script src="js/controller.js"></script>
    <script src="directives/highcharts.directive.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/blue.css">
</head>

<body>

<div ng-app="myApp" ng-controller="mkController">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">{{mainMenuText}}</a>
            </div>

            <!-- Menu Items -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="main-menu">
                    <li ng-repeat="item in menuItems" class="{{item.class}}"><a href="" ng-click="scrollTo(item.ref)">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <section id="#home" class="mk-header">
        <header class="mk-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mk-header">
                        <h1>{{headerText}}</h1>
                        <p>{{currentPosition}}</p>
                        <div>
                            <a ng-repeat="item in socialLinks"
                               href="{{item.link}}"
                               class="{{item.class}}"
                               target="_blank">
                                <i class="{{item.icon}}"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <section id="#profile" class="mk-profile">
        <div class="container">
            <header class="section-header">
                <h2 class="section-title">Profile</h2>
                <div class="spacer"></div>
                <p class="section-subtitle">{{currentPosition}}</p>
            </header>
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile"><img src="images/profile.png" alt="profile" width="403px" height="269px">
                    </div>
                </div>
            </div>
            <div class="row mk-summary">
                <div class="col-sm-12 well well-lg">
                    <li>Senior Software <strong>full stack&nbsp;</strong>engineer with <strong>12 years</strong> of <strong>professional</strong> development experience.</li>
                    <li><strong>Java</strong> 11 with <strong>Spring</strong>, Liquibase, Swagger, Hibernate, Quartz and Log4j.</li>
                    <li><strong>REST</strong> APIs and <strong>SOAP</strong> based web services.</li>
                    <li>Responsive <strong>HTML5</strong> apps using <strong>JavaScript</strong>, <strong>React</strong>/<strong>Redux</strong> and <strong>CSS</strong>.</li>
                    <li><strong>AWS</strong>: EC2, S3, DynamoDB, SNS, SQS, IAM, Cognito, Lambdas, ECS, EKS, Aurora.</li>
                    <li><strong>SQL</strong> and Stored Procedures for MySQL/MariaDB/Aurora, Sybase, Oracle, DB2, H2 databases.</li>
                    <li>Application deployment using AWS <strong>CodeDeploy</strong>, <strong>Kubernetes</strong>, <strong>Terraform</strong>, <strong>TeamCity</strong> and <strong>Jenkins</strong>.</li>
                    <li>Tools &ndash; <strong>Gradle</strong>, <strong>Maven</strong>, Jenkins, GIT, SVN, Sonar, Nexus, NPM.</li>
                    <li>Data formats - <strong>JSON</strong>, <strong>XML</strong>, BITMAP, YAML and CSV.</li>
                    <li><strong>Test Driven Development</strong> using Junit, Jest, Mockito, MockMVC, SoapUI, Postman.</li>
                    <li><strong>Agile</strong>/<strong>Scrum</strong> and <strong>Waterfall</strong> development methodologies.</li>
                    <li>Excellent team player - can work <strong>independently</strong> with minimum guidance.</li>
                    <li>Strong written, oral and interpersonal <strong>communication</strong> skills.</li>
                    <li>Experience <strong>training</strong> and <strong>mentoring</strong> junior and mid-level developers.</li>
                    <li>Experience working across multiple platforms: <strong>Windows</strong>, <strong>Unix</strong>, <strong>Linux</strong>, <strong>MacOS</strong>.</li>
                    <li>Excellent <strong>debugging</strong> skills &ndash; troubleshoot and promptly fix application bugs.</li>
                    <li><span style='font-size:15px;font-family:"Calibri",sans-serif;'>Quick learner - adaptable to learn <strong>new skills</strong> and emerging technologies.</span></li>
                </div>
            </div>
        </div>
    </section>

    <section id="#skills" class="mk-skills">
        <header class="section-header">
            <h2 class="section-title">Skills</h2>
            <div class="spacer"></div>
        </header>
        <div class="row">
            <div class="col-sm-12 mk-chart">
                <high-chart options="chartOptions" width="100%"></high-chart>
            </div>
        </div>
    </section>

    <section id="#education" class="mk-education">
        <div class="container">
            <header class="section-header">
                <h2 class="section-title"><span>Education</span></h2>
                <div class="spacer"></div>
                <p ng-repeat="item in education"
                   class="section-subtitle" style="font-weight: lighter;font-size: 2em;">{{item.name}} <br>
                    <span style="font-weight: lighter;font-size: 1em;">{{item.degree}} -  {{item.year}}</span></p>
            </header>
        </div>
    </section>

    <section id="#experience" class="mk-experience">
        <div class="container">
            <header class="section-header">
                <h2 class="section-title"><span>Experience</span></h2>
                <div class="spacer"></div>
            </header>
            <div class="row experience">
                <div class="col-sm-12">
                    <article ng-repeat="item in experience">
                        <header>
                            <h3>{{item.position}}</h3>
                            <p> {{item.company}} / {{item.from}} - {{item.to}} </p>
                        </header>
                        <p> {{item.project}}</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section id="#contact" class="mk-contact">
        <div class="container">
            <header class="section-header">
                <h2 class="section-title"><span>Contact</span></h2>
                <div class="spacer"></div>
            </header>
            <div class="row">
                <div class="col-sm-12 contact-info">
                    <p><i class="fa fa-envelope-o"></i> <a href="mailto:margish@gmail.com">margish@gmail.com</a></p>
                </div>

            </div>
        </div>
    </section>

</div>


</body>
</html>